In [1]:
def c_R_Area(x,y):
    print("함수가 실행중입니다")
    return x * y

r_x = 55
r_y = 66

print("사각형의 가로(x) :", r_x)
print("사각형의 세로(y) :", r_y)
print("사각형의 면적은 ?:", c_R_Area(r_x, r_y))

사각형의 가로(x) : 55
사각형의 세로(y) : 66
함수가 실행중입니다
사각형의 면적은 ?: 3630

In [3]:
def b_type(x, y):
    add = x + y
    print("--> 매개변수를 받아서 합산후 출력하는 함수 : ", add)
    
b_type(10, 20)

--> 매개변수를 받아서 합산후 출력하는 함수 :  30

In [5]:
def c_type():
    return "Python Programming"

print(c_type())

Python Programming

In [7]:
def d_type(x,y):
    add = x + y
    return add

print("10 + 20 = ",d_type(10,20))

10 + 20 =  30

In [12]:
def test(t):
    t = 20
    print("함수 안에서의 값 : ", t)
    
x = 10
print("함수 실행전 초기값 : ", x)
test(x)
print("함수 실행후 초기값 : ", x)

함수 실행전 초기값 :  10
함수 안에서의 값 :  20
함수 실행후 초기값 :  10

In [14]:
def f():
    s = "London~"
    print(id(s))
    print(s)
    
s = "Paris...."
print(id(s))
f()
print(s)

1867657387632
1867657381008
London~
Paris....

In [19]:
def spam(eggs):
    eggs.append(1)
    print(id(eggs))
    eggs = [2,3]
    print("eggs=2,3---",id(eggs))
    
ham = [0]
print(id(ham))
spam(ham)
print(ham)
print(id(ham))

1867657252232
1867657252232
eggs=2,3--- 1867656509960
[0, 1]
1867657252232

In [22]:
def test(t):
    print(x)
    print(id(t))
    t = 20
    print(id(t))
    print("함수 안 : ", t)
    
x = 10
test(x)
#print(t)

10
1758031616
1758031936
함수 안 :  20

In [30]:
def f():
    global s
    print("2-",id(s))
    print("함수안 - ",s)
    s = "London~"
    print(s)
    print("3-",id(s))    
    
s = "Paris...."
print("1-",id(s))

f()
print(s)
print("4-",id(s))

1- 1867638824304
2- 1867638824304
함수안 -  Paris....
London~
3- 1867657542824
London~
4- 1867657542824

In [134]:
def f():
    print("2-",id(s))
    print("함수안 - ",s)
#    s = "London~"
    print(s)
    print("3-",id(s))    

print("1-",id(s))
s = "Paris...."
f()
print(s)
print("4-",id(s))

1- 1867657374640
2- 1867657374576
함수안 -  Paris....
Paris....
3- 1867657374576
Paris....
4- 1867657374576

In [135]:
def test():
    print(x)
    t = 20
    print("함수안 : ", t)
    
x = "123"
test()
#print(t)

123
함수안 :  20

In [152]:
def swap_0(x,y):
    return y,x

def swap_1(x,y):
    temp = x
    x = y
    y = temp
    
def swap_2(o_x,o_y):
    temp = a[o_x]
    a[o_x] = a[o_y]
    a[o_y] = temp
    
def swap_3(list,o_x,o_y):
    temp = list[o_x]
    list[o_x] = list[o_y]
    list[o_y] = temp
    
a = 1
b = 2
print(a,b)
swap_1(a,b)
print("          swap_1 - ",a,b)

a = [1,2]
print(a)
swap_2(0,1)
print("          swap_2 - ",a)

a = [1,2]
print(a)
swap_3(a,0,1)
print("          swap_3 - ",a)

1 2
          swap_1 -  1 2
[1, 2]
          swap_2 -  [2, 1]
[1, 2]
          swap_3 -  [2, 1]

In [154]:
a = [1,2,3]
b = [11,12,13]
print(a," - ",b)
a,b = b,a
print(a," - ",b)

a = [1,2,3]
b = "aaa"
print(a," - ",b)
a,b = b,a
print(a," - ",b)

[1, 2, 3]  -  [11, 12, 13]
[11, 12, 13]  -  [1, 2, 3]
[1, 2, 3]  -  aaa
aaa  -  [1, 2, 3]